<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="module">
РЕЗЮМЕ
    </div>
</div>

</body>


<div class="text"> <p>Теплицький Денис Олегович </p>

</div>

<body>
   <p>Студент</p>
   <p><i>Зайнятість:</i> повна</p>
   <p><i>Графік роботи:</i> весь день</p>
   <p><i>Зарплата:</i> 15000 грн</p>
   <p><i>Особисті дані:</i> </p>
   <p><i>Дата та місце народження:</i> 17 серпня 2000 року, с. Іваньки Маньківського району Черкаської області.</p>
   <p><i>Сімейний стан:</i> не одружений</p>
   <p><i>Місце проживання:</i> вул. Дивного, 36 с. Іваньки Маньківського району Черкаської області</p>
   <p><i>e-mail:</i> dolerovish@gmail.com</p>
   <p><i>Освіта:</i></p>
   <p>з 2018 року по даний час</p>
   <p>Черкаський держаний технологічний університет</p>
   <p><i>Cпеціальність:</i> Інженерія програмного забезпечення </p>
   <p><i>Особисті якості:</i></p>
   <p>відповідальність, наполегливість, комунікабельність, цілеспрямованість, ініціативність, здатність швидко навчатися, вміння працювати в команді, націленість на результат.</p>
</body>



<div class="wrap">
<h1>07.12.2020</h1>

</div>
